<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  <nav>
    <div class="wrapper7">
      <div class="logo"><a href="/"><img src="/images/Tech_Tasa_Logo.webp" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="desktop-item">Service</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Service</label>
          <div class="mega-box">
            <div class="content6">
              <div class="row">
                <ul class="mega-links">
                <li><a href="/development.html">All Types Of Development</a></li>
                <li><a href="/maintenance.html">All Types Of Maintenance</a></li>
                <li><a href="/IT Support Services.html">All Types Of IT Support</a></li>
                <li><a href="/techtrainingservices.html">All Types Of Tech Trainings</a></li>
                <li><a href="/Graphics.html">All Types Of Graphics And UI Design</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/seo.html">Content Writing as Per Seo </a></li>
                  <li><a href="/deep_researching.html">Deep Researching</a></li>
                  <li><a href="/selling&rental.html">Selling And Rental</a></li>
                  <li><a href="/deep_testing.html">Deep Testing & Code Testing</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/Human Support.html">Human Support as Per Industry</a></li>
                  <li><a href="/api.html"> Creating API & Customisation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://meet.techtasa.com/">Meet</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/apps">App</a></li>
        <li class="navbar-nav-list-links butt"><a href="/contact" class="linkss">Contact</a></li>
        <% if (loggedin) { %>
          <li class="navbar-nav-list-links butt"><a href="/dashboard" class="linkss blue">Dashboard</a></li>
          <li class="navbar-nav-list-links butt "><a href="/auth/logout" class="linkss red">Logout</a></li>
      <% } else { %>
        <li class="navbar-nav-list-links butt"><a href="/auth/login" class="linkss">Login</a></li>
      <% } %>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
    <img id="about-us-image" src="images/aboutus-img.jpg" alt="About Us Image">
    <main>
        <section id="our-mission" class="section">
            <div class="flex-container reverse">
                <img src="images/mission.jpg" alt="Our Mission Image">
                <div class="text">
                    <h2>Our  Vision</h2>
                    <p>At TechTASA, our mission is to empower businesses with cutting-edge IT solutions that drive success and growth. We are committed to delivering top-notch web development, software development, mobile application development, UVUX design, and e-commerce solutions that exceed our clients expectations and seamlessly achieve their business objectives.</p>
                </div>
            </div>
        </section>
        <section id="our-vision" class="section">
            <div class="flex-container">
                <img src="images/vision.jpg" alt="Our Vision Image">
                <div class="text">
                    <h2>Our Mission</h2>
                    <p>Our vision at TechTASA is to become a globally recognized leader in the IT solutions industry by setting new standards of excellence. We aim to deliver innovative, reliable, and effective technology solutions that enhance digital presence, streamline operations, and foster sustainable growth for businesses of all sizes.</p>
                </div>
            </div>
        </section>
        <section id="why-choose-us" class="section">
          <h2>Why Choose Us?</h2>
          <p>We are committed to excellence and customer satisfaction.</p><br>
          <div class="card-container">
              <div class="card"> 
                  <h3>Expertise and Experience</h3>
                  <p>Highly skilled professionals delivering tailored solutions with extensive industry knowledge.</p>
              </div>
              <div class="card"> 
                  <h3>Customer-Centric Approach</h3>
                  <p>Prioritizing client needs to deliver value and help achieve business goals.</p>
              </div>
              <div class="card"> 
                  <h3>Innovative Solutions</h3>
                  <p>Staying ahead with the latest technologies and methodologies for competitive advantage.</p>
              </div>
              <div class="card"> 
                  <h3>Quality Assurance</h3>
                  <p>Commitment to high-quality standards ensuring reliable performance and client satisfaction.</p>
              </div>
              <div class="card"> 
                  <h3>Reliability and Support</h3>
                  <p>Continuous support ensuring smooth operations and minimal downtime.</p>
              </div>
              <div class="card"> 
                  <h3>Comprehensive Services</h3>
                  <p>End-to-end solutions covering consultation, strategy, implementation, and ongoing support.</p>
              </div>
              <div class="card"> 
                  <h3>Proven Track Record</h3>
                  <p>Demonstrated success across various industries, delivering impactful results and business success.</p>
              </div>
          </div>
      </section>
      <section id="our-specialty" class="specialty-section">
        <h1>Our Specialties</h1>
        <p>At TechTASA, we pride ourselves on our unique blend of creativity, technical expertise, and customer-centric approach. Our specialties include.</p><br>
        <div class="specialty-card-container">
            <div class="specialty-card">
                <h3>Best UI/UX Designs</h3>
                <p>Crafting visually stunning and user-friendly designs that enhance engagement and satisfaction.</p>
            </div>
            <div class="specialty-card">
                <h3>Mobile Application Testing</h3>
                <p>Ensuring top quality and performance through comprehensive testing and issue resolution.</p>
            </div>
            <div class="specialty-card">
                <h3>Business IT Support Services</h3>
                <p>Offering reliable remote, outsourced, and managed IT support tailored to specific business needs.</p>
            </div>
        </div>
    </section>
    </main>
    <script src="script.js"></script>
 
</body>
<footer class="footerccc">
  <div class="footer-containerccc">
    <div class="footer-sectionccc">
      <a href="/">
        <img src="images/Tech_Tasa_Logo.webp" alt="" class="footer-logoccc">
      </a>
      <p>Our innovative approach ensures seamless integration and unparalleled performance, driving your business forward in the digital age.</p>
    </div>
    <div class="footer-sectionccc">
      <h4>Quick Menu</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Work</a></li>
        <li><a href="/services.html">Services</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Resources</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Subscribe to our newsletter</h4>
      <p>Subscribe now to be updated with the latest features</p>
      <form>
        <div class="subscribe-container">
          <input type="email" placeholder="Enter your Email" class="email-input">
          <button class="subscribe-button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-bottomccc">
    <p>&copy; 2024 TECHTASA All Rights Reserved</p>
    <div class="social-iconsccc">
      <a href="https://www.facebook.com/techtasa/"><img src="images/fb.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/tech.tasa/"><img src="images/IG.png" alt="Instagram"></a>
      <a href="https://x.com/Tech_Tasa"><img src="images/tw.png" alt="Twitter"></a>
    </div>
  </div>
</footer>
</html>
