<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rupeexpert</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/services.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div id="menu"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1b1dc7" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <line x1="4" y1="6" x2="20" y2="6" />
        <line x1="4" y1="12" x2="20" y2="12" />
        <line x1="4" y1="18" x2="20" y2="18" />
      </svg></div>
    <a href="/" class="logo"><img src="../images/XpertRupees_Logo.svg" alt=""></a>
    <ul class="links">
      <li class=" link "><a href="/">Home</a></li>
      <li class=" link active"><a href="/services">Services</a></li>
      <li class=" link "><a href="/career">Career</a></li>
      <li class=" link "><a href="/blog">Blog</a></li>
      <li class=" link"><a href="/contact">Contact</a></li>
    </ul>
    <% if (loggedin) { %>
    <button class="cta" onClick='location="/dashboard"'>Dashboard</button>
    <% } else { %>
    <button class="cta" onClick='location="/auth/login"'>Sign In</button>
    <% } %>
  </nav>
  <div class="services">
    <div class="container p-5" style="background:linear-gradient(to left, #0561CA,#00278C);">
      <h4>Business Loan</h4>
    </div>
    <style>
      /*  */
      .cards11 {
            max-width: 1120px;
            margin: 0 auto;
            /* display: grid; */
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .card12 {
          /* background-color: dodgerblue; */
          color: white;
          padding: 1rem;
            /* height: 4rem; */
          }
          .text2 h1{
            color: black;
          }
          .text2 p{
            color: black;
          }
          </style>
    <div class="cards11">
      <div class="card12">
    <div class="text2">
      <h1>Short Content:- </h1>
      <p>1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate laudantium dignissimos illo quae optio. <BR></BR>

        2)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate laudantium dignissimos illo quae optio. <BR></BR>
        
        3)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate laudantium dignissimos illo quae optio.</p>
    </div>
    <div class="text2">
      <h1>Deep Content:-</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate laudantium dignissimos illo quae optio. <BR></BR>

       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores ipsa ullam maiores iusto ea asperiores nostrum similique et rerum totam a, dolore quo quaerat deleniti! Minima repellat alias reiciendis ad. <BR></BR>
        
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est illum, voluptas nemo necessitatibus fugiat velit modi doloribus eius rem ratione, aperiam amet quasi quo nesciunt dolore enim ut expedita vero! <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio similique maiores ipsa sunt eius dolorem ea quos recusandae ducimus tempore impedit velit obcaecati tempora nesciunt, nobis dolore delectus sed! Nisi!<BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellendus, sapiente incidunt, cum delectus quae veniam tempora deleniti ipsam esse expedita possimus reiciendis molestias voluptatibus officiis tenetur odio quo ullam! <BR></BR>
        
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tenetur, officia eum blanditiis voluptatibus distinctio. Placeat maxime a, iure corporis ducimus voluptates natus, consequuntur recusandae quas aliquid hic doloremque accusamus!<BR></BR>
        
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit ab temporibus provident praesentium cupiditate fugiat at sit repellendus recusandae. Reprehenderit quibusdam autem in vero maiores, cum vel dolore expedita!<BR></BR>
        
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, vel incidunt fugiat corrupti quis officiis hic eaque labore, unde molestiae commodi beatae quasi in eum ullam aut natus blanditiis ratione <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt libero eius minima? Possimus quas maxime nam dolor porro officia quibusdam quae enim, nobis doloremque aut modi, molestias odio illo rerum.</p>
    </div>
    <div class="text2">
      <h1>Examples:-</h1>
      <p>
        1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perferendis excepturi voluptates earum corrupti. Consectetur voluptatem adipisci quia numquam. Nobis ad ullam enim tenetur in tempore mollitia, recusandae dolor cum.<BR></BR>

2) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro hic sint, a adipisci architecto laboriosam eos reiciendis. Id animi natus maxime, consequatur, mollitia possimus dolores numquam harum nulla praesentium beatae. <BR></BR>

3) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui cumque eligendi nesciunt provident quis minus animi, repellat harum omnis reiciendis ullam a hic aspernatur fugiat eum blanditiis nihil. Ducimus, perferendis<BR></BR>

4) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae nobis iure architecto reiciendis laboriosam atque recusandae eum. Amet culpa perspiciatis magni fugiat! Odit cumque debitis, totam neque molestias corrupti. <BR></BR>

5) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi et mollitia quae voluptatum unde voluptate magnam nulla, sint corrupti deserunt aliquid neque dolorem dolorum quam tempore, incidunt ea laboriosam velit!
      </p>
    </div>
    <div class="text2">
      <h1>Advantages:-</h1>
      <p>
        1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloremque magnam dolor. Inventore facere temporibus adipisci suscipit blanditiis distinctio vitae quisquam quam molestias id magni, neque, commodi impedit quos obcaecati <BR></BR>

2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptas quidem doloribus. Adipisci harum eum et quas! Nesciunt harum velit ipsam vel numquam facere odio, sint deleniti saepe ducimus nam.<BR></BR>

3) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, in ab velit quae iure ullam, debitis quos consequuntur ea minus ducimus, impedit necessitatibus neque laboriosam distinctio ad veritatis cumque. Dicta<BR></BR>

4) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat enim magnam sit cupiditate assumenda id, quia, iure deserunt consequatur officia eum. Ab, eius sint esse aspernatur laboriosam mollitia illum accusantium! <BR></BR>

5) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere earum, deleniti labore totam sequi accusamus reprehenderit quo distinctio nostrum corrupti itaque et laborum culpa quos perspiciatis ad ex ab omnis <BR></BR>

6) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores non, laudantium quam voluptatem adipisci dolore quas libero nam alias cumque, facere provident dignissimos consectetur eius voluptatum molestias tenetur iusto aperiam.<BR></BR>

7) Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi possimus tenetur aut facere repellat, modi reprehenderit aspernatur necessitatibus quidem molestiae similique eius ad vero voluptatibus tempore explicabo totam dolorem non <BR></BR>

8) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem recusandae adipisci reiciendis vitae dolore perspiciatis nulla suscipit. Eligendi assumenda labore dicta incidunt illum, quia iusto mollitia aspernatur at perferendis vitae <BR></BR>

9) Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quia, modi sint accusamus dignissimos a voluptatem voluptate, magni magnam illum vitae nulla ea. Architecto magni facere, neque rerum assumenda voluptates.<BR></BR>

10) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eaque voluptate nam esse fuga accusamus ipsum perspiciatis, veritatis suscipit in eius nesciunt similique eveniet molestias sed consequatur, illo optio reprehenderit<BR></BR>

11) Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet adipisci deleniti laboriosam ab ratione natus provident, iusto fuga reiciendis magnam minima. Sit corrupti sapiente ab autem assumenda pariatur explicabo soluta.<BR></BR>

12) Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, pariatur natus aspernatur exercitationem aliquid labore! Asperiores tenetur quas aliquid consequuntur corrupti natus quo minima voluptas beatae numquam labore, cumque laboriosam. <BR></BR>

13) Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem expedita ea magni accusantium iste sed vero consectetur ab! Repudiandae voluptatibus impedit voluptas et inventore sapiente repellendus aut hic perferendis ullam.<BR></BR>

14) Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, et. Fugit odit placeat dolore at natus magnam beatae explicabo perspiciatis? Libero nostrum ipsum nulla tempora dicta blanditiis ex earum quia<BR></BR>

15) Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatum temporibus nesciunt, enim corporis voluptate similique consequuntur facilis, ab impedit, ipsa nisi nihil sint. Molestias, iste? Alias molestias praesentium culpa <BR></BR>

16) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quos corrupti reiciendis laudantium saepe incidunt natus repudiandae voluptatum nihil error placeat id dolorum, nobis autem sit nam aliquam sed quod! <BR></BR>

17) Lorem ipsum dolor sit amet consectetur adipisicing elit. A, maxime dolorum. Ipsa ducimus suscipit at nisi voluptate consequatur illum totam tempore? Harum recusandae molestias vitae eveniet doloremque adipisci ut reiciendis.<BR></BR>

18) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nostrum nulla perspiciatis reprehenderit sint beatae, officia cumque adipisci assumenda eligendi obcaecati animi a placeat reiciendis nihil vero laboriosam! Adipisci, error! <BR></BR>

19) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum illo aperiam praesentium quos aspernatur, veritatis molestiae exercitationem eligendi voluptatum, odio animi saepe natus quis perferendis harum corrupti consequatur nulla ad. <BR></BR>

20) Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eveniet fugiat suscipit natus sed reprehenderit vero sit ipsa modi aut quidem, nobis nesciunt qui nihil quam iure, laborum reiciendis debitis
      </p>
    </div>
    <div class="text2">
      <h1>Case Study:-</h1>
      <p>Introduction: <BR></BR>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam ducimus nostrum dolorem sed maiores magni. Esse cum similique nemo minus omnis minima tempora, dolorum pariatur fuga repudiandae. Maiores, blanditiis assumenda<BR></BR>
        
        Lorem, ipsum: <BR></BR>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi autem ab voluptatum, reprehenderit rem laboriosam quibusdam nemo nobis, qui ipsa error repellendus aperiam quo accusamus cumque harum. Quas, delectus sunt.<BR></BR>
        
        Lorem, ipsum: <BR></BR>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quam nihil sunt fugiat delectus culpa adipisci itaque nesciunt voluptas. Eligendi dolorem cum voluptatum ipsum ullam eum eos quam quis animi: <BR></BR>
        
        Lorem, ipsum: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ut omnis! Cum ullam cupiditate, saepe atque minus perspiciatis fugit autem: <BR></BR>
        With a spirit of camaraderie and a dash of creativity, GreenTech Solutions crafted a strategy as refreshing as a breeze on a sunny day: <BR></BR>
        
       Lorem, ipsum: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora porro facere iste repellat vitae. Minus ad, reiciendis tempore, illo ullam odit tempora animi nemo laboriosam harum earum fugit quo optio <BR></BR>
        Loan Application Process: <BR></BR>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolores sint, nemo itaque perferendis odit labore pariatur explicabo, nostrum ipsam nesciunt voluptate maiores repellendus qui sapiente fugiat? Explicabo, voluptatum quibusdam! <BR></BR>
        
       Lorem, ipsum dolor: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quibusdam error esse, qui accusantium facilis eligendi quam explicabo consequuntur, sit eaque consectetur. Pariatur corrupti commodi fugit reprehenderit cumque deserunt mollitia. <BR></BR>
        Lorem, ipsum dolor: <BR></BR>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. At quasi eius pariatur sunt harum iste nemo ab, ea velit expedita? Magnam ut mollitia impedit voluptate magni qui nobis ipsa maiores <BR></BR>
        
        Lorem, ipsum: <BR></BR>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam perferendis maxime labore! Eius, aperiam optio in, laboriosam quis asperiores tenetur, libero voluptates exercitationem veniam voluptate ab error officia deserunt! <BR></BR>
        
        Lorem, ipsum dolor:  <BR></BR>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis dolor maiores culpa quam sint accusantium rem, praesentium aut reiciendis, explicabo rerum expedita? Praesentium modi similique corrupti magnam, ea neque odit! <BR></BR>
        
        Lorem, ipsum: <BR></BR>
        
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum dolore, omnis aliquid reprehenderit ipsum magni. Amet quia veniam nobis id. Quod voluptas ipsa facilis libero, sequi culpa incidunt odit. <BR></BR>
        
       Lorem ipsum dolor sit: <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in adipisci expedita. Voluptatibus, sunt neque labore quae expedita quas modi repellendus autem aspernatur adipisci, a harum voluptas sit aliquid ipsum: <BR></BR>
       Lorem ipsum dolor sit: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique ad vero at quas? Ipsa dolore quo quisquam ab fugiat accusantium architecto est, dolorum deserunt. Veritatis sequi tempora neque consequuntur corporis. <BR></BR>
        
        Lorem, ipsum dolor: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nostrum incidunt voluptatum fugiat quo, dignissimos fuga eaque magnam vero dolorum neque! Nam unde id enim consectetur quos debitis rerum natus. <BR></BR>
        
       Lorem, ipsum dolor: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dolores quis. Provident repudiandae, molestiae inventore porro iste cumque ex perspiciatis possimus voluptate consectetur quo totam non quam, sed pariatur quaerat.<BR></BR>
        
       Lorem ipsum dolor sit amet: <BR></BR>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repellendus, aliquam saepe dignissimos quod magni dicta beatae molestiae sint harum? Temporibus nihil magnam, blanditiis accusamus perspiciatis soluta omnis dolor unde: <BR></BR>
        
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ad optio qui nisi dicta ea adipisci rerum voluptatem quidem eum saepe illum consequatur exercitationem repellendus, natus totam libero laudantium omnis <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, beatae esse nesciunt harum, et possimus sapiente veritatis eveniet assumenda error doloremque quae repellendus in vel voluptates facere obcaecati quos molestias.<BR></BR>
        
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi libero eos molestiae blanditiis repellat cumque debitis velit corporis voluptate ratione, est nostrum eius nam voluptatibus quasi voluptatum doloremque dolorem ad<BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolores voluptatum, ipsum rerum possimus impedit adipisci, molestias pariatur quo provident iste quibusdam enim tenetur nisi expedita sit ipsam beatae molestiae. <BR></BR>
        
        Lorem ipsum dolor sit: <BR></BR>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat ducimus eum, quisquam odit explicabo veniam debitis amet sed vero earum obcaecati blanditiis fuga quod? A dolorum labore animi error <BR></BR>
        
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa laboriosam explicabo sapiente eaque voluptas, eligendi facere fuga quo perspiciatis mollitia quasi vel nulla sequi aperiam vero, distinctio eum cum asperiores <BR></BR>
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque consequuntur, harum impedit corporis reiciendis iusto voluptates fugit praesentium molestias enim accusantium, aspernatur suscipit ullam ipsam similique eius, repellat vero. Accusantium. <BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt suscipit et temporibus eligendi, culpa consectetur reiciendis harum. Blanditiis laudantium tempore suscipit repellat sit nam doloribus quisquam, et error recusandae obcaecati! <BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nobis quod veniam consequuntur, enim rem beatae iste deleniti eveniet totam, deserunt officiis est odit tenetur accusamus optio harum at ad. <BR></BR>
        
       Lorem, ipsum dolor: <BR></BR>
        
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error distinctio ipsum quibusdam aut aliquam quae obcaecati dolores amet veritatis facilis quisquam sunt, sapiente rem et incidunt exercitationem. Nihil, laboriosam quam!<BR></BR>
        
        Lorem, ipsum: <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, explicabo placeat. Accusamus provident ipsam facilis molestias consequuntur possimus expedita tempora, repellat, quisquam veritatis hic id. Ut reprehenderit perspiciatis amet blanditiis</p>
    </div>
    <div class="text2">
      <h1>Lorem, ipsum:-</h1>
      <p>1)lorem: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad quaerat cum error voluptates at in, laborum delectus eius pariatur magni atque possimus tempora sunt assumenda doloremque ipsam laudantium aut! <BR></BR>

        2) Lorem: ipsum dolor sit amet consectetur adipisicing elit. Facere impedit necessitatibus ipsam rem. Officiis facilis voluptates vel eum recusandae! Iure magnam harum aliquid facilis quis? At necessitatibus corrupti reprehenderit autem. <BR></BR>
        
        3) Lorem, ipsum dolor: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatem quisquam facilis perferendis impedit dolorum, sapiente sint eaque quam laborum eius aliquam dolor nemo ipsam iusto accusantium corporis, quae eos <BR></BR>
        
        4)lorem: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tempore omnis rerum modi quibusdam quasi natus minus error magni illum corporis, accusantium ab nulla minima nesciunt hic atque voluptate? Odio. <BR></BR>
        
        5) Lorem, ipsum dolor: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cum corporis velit id aut amet facilis quod dolore corrupti ab, dolor, ducimus voluptatum cupiditate iste minus cumque porro incidunt sint.<BR></BR>
        
        6) Lorem, ipsum dolor: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis veritatis libero atque ipsam iusto. Dolorem sint, architecto beatae, nisi magni amet illum consectetur pariatur autem, quod quaerat fugiat. A, error. <BR></BR>
        
        7) Lorem, ipsum dolor: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, eius quod quidem impedit iusto voluptates temporibus necessitatibus, consectetur maxime facilis quisquam corrupti nam dignissimos consequuntur doloremque reiciendis explicabo dolor eos! <BR></BR>
        
        8) Lorem, ipsum dolor: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sint, sequi ipsum odio ducimus aspernatur veniam natus quidem! Architecto deserunt quos dolorem ducimus accusantium quasi, incidunt adipisci iusto eaque harum <BR></BR>
        
        9) Lorem, ipsum dolor: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem consequuntur et earum nostrum odio suscipit? Officiis architecto consequuntur similique nemo! Labore, minima. Nisi at tenetur numquam dolorum error magnam earum<BR></BR>
        
        10) Lorem, ipsum dolor: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet facilis repellat inventore aliquam aspernatur nisi quasi maiores ullam perspiciatis, doloremque similique laudantium minima. Reiciendis, deserunt. Tempore ab earum porro nam!</p>
    </div>
    <div class="text2">
      <h1>lorem :-</h1>
      <p></p>
    </div> <div class="text2">
      <h1>lorem:-</h1>
      <p></p>
    </div>
      </div>
    </div>
  </div>
  <section class="footer">
    <div class="footer-content">
      <img src="../images/XpertRupees_Logo_White.svg" alt="">
      <ul>
        <li class=" footer-link"><a href="/">Home</a></li>
        <li class=" footer-link"><a href="/services">Services</a></li>
        <li class=" footer-link"><a href="/career">Career</a></li>
        <li class=" footer-link"><a href="/blog">Blog</a></li>
        <li class=" footer-link"><a href="/contact">Contact</a></li>
      </ul>
      <div class="icons">
        <a href="https://www.facebook.com/rupeexpert/?ref=pages_you_manage"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg></a>
        <a href="https://www.linkedin.com/company/rupeexpert/?viewAsMember=true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg></a>
      </div>
    </div>
    <div class="footer-map">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=oceanone hq&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.kokagames.com/fnf-friday-night-funkin-mods/">Friday Night Funkin Mods</a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 400px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }

          .gmap_iframe {
            height: 400px !important;
          }
        </style>
      </div>
    </div>
  </section>
  <style>
    .footer2 {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #000000;
      color: #fff;
      padding: 10px;
    }

    .footer2 a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <section class="footer2">
    <small>&copy; Copyright 2024, Techtasa Pvt. Ltd</small>
    <small> Developed By <a href="https://www.techtasa.com/">Techtasa</a></small>
  </section>
</body>
<script src="../js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>