<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get in Touch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/contactus.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  <nav>
    <div class="wrapper7">
      <div class="logo"><a href="/"><img src="/images/Tech_Tasa_Logo.webp" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="desktop-item">Service</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Service</label>
          <div class="mega-box">
            <div class="content6">
              <div class="row">
                <ul class="mega-links">
                <li><a href="/development.html">All Types Of Development</a></li>
                <li><a href="/maintenance.html">All Types Of Maintenance</a></li>
                <li><a href="/IT Support Services.html">All Types Of IT Support</a></li>
                <li><a href="/techtrainingservices.html">All Types Of Tech Trainings</a></li>
                <li><a href="/Graphics.html">All Types Of Graphics And UI Design</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/seo.html">Content Writing as Per Seo </a></li>
                  <li><a href="/deep_researching.html">Deep Researching</a></li>
                  <li><a href="/selling&rental.html">Selling And Rental</a></li>
                  <li><a href="/deep_testing.html">Deep Testing & Code Testing</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/Human Support.html">Human Support as Per Industry</a></li>
                  <li><a href="/api.html"> Creating API & Customisation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://meet.techtasa.com/">Meet</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/apps">App</a></li>
        <li class="navbar-nav-list-links butt"><a href="/contact" class="linkss">Contact</a></li>
        <% if (loggedin) { %>
          <li class="navbar-nav-list-links butt"><a href="/dashboard" class="linkss blue">Dashboard</a></li>
          <li class="navbar-nav-list-links butt "><a href="/auth/logout" class="linkss red">Logout</a></li>
      <% } else { %>
        <li class="navbar-nav-list-links butt"><a href="/auth/login" class="linkss">Login</a></li>
      <% } %>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
    <div class="contact-section">
        <h2 class="section-title">GET IN TOUCH</h2><br><br><br>
        <div class="contact-info">
            <div class="contact-item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <h3>PHONE</h3>
                <p>TECHTASA<br>
                +91 7391-09-7070<br>
            </div>
            <div class="contact-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h3>ADDRESS</h3>
                <p>Near Rubby Hall Metro Station. Sohrab Hall
                    <br> Near Station, Sangamvadi, 
                    5th Floor,
                    Office No.501-530<br>
               </p>
                <p>
                <br>Pune, Maharashtra 411001</p>
            </div>
            <div class="contact-item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h3>EMAIL</h3>
                <p>Request for Proposal<br>
                contact@techtasa.com</p>
            </div>
        </div>
    </div>
    <div class="message-section">
        <div class="message-container">
            <h2>Message Us</h2>
            <p>Have Questions? We're Here for You!</p> <p>If you have any questions about job openings or 
                the application process,just let us know. 
                Send us a message, and we'll get back to you quickly.</p> 
            <form class="message-form" action="/loan/apply/cowork" method="post" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="name">Contact No:</label>
                <input type="tel"  name="number" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
                <label for="comments">Comments:</label>
                <textarea id="comments" name="message"></textarea>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</body>
<footer class="footerccc">
  <div class="footer-containerccc">
    <div class="footer-sectionccc">
      <a href="/">
        <img src="images/Tech_Tasa_Logo.webp" alt="" class="footer-logoccc">
      </a>
      <p>Our innovative approach ensures seamless integration and unparalleled performance, driving your business forward in the digital age.</p>
    </div>
    <div class="footer-sectionccc">
      <h4>Quick Menu</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Work</a></li>
        <li><a href="/services.html">Services</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Resources</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Subscribe to our newsletter</h4>
      <p>Subscribe now to be updated with the latest features</p>
      <form>
        <div class="subscribe-container">
          <input type="email" placeholder="Enter your Email" class="email-input">
          <button class="subscribe-button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-bottomccc">
    <p>&copy; 2024 TECHTASA All Rights Reserved</p>
    <div class="social-iconsccc">
      <a href="https://www.facebook.com/techtasa/"><img src="images/fb.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/tech.tasa/"><img src="images/IG.png" alt="Instagram"></a>
      <a href="https://x.com/Tech_Tasa"><img src="images/tw.png" alt="Twitter"></a>
    </div>
  </div>
</footer>
  <script src="script.js"></script>
</html>