<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>
<style>
    /* Webpixels CSS */
    /* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
    /* URL: https://github.com/webpixels/css */

    @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

    /* Bootstrap Icons */
    @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
</style>
<body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
            id="navbarVertical">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="/">
                    <img src="/cowork.svg" alt="...">
                </a>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/">
                            <i class="bi bi-speedometer2"></i> Dashboard
                          </a>
                        </li>
                        <% if (userType==='admin' || userType==='hr' ) { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/management">
                            <i class="bi bi-people"></i> Management
                          </a>
                        </li>
                        <% } %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/leads">
                            <i class="bi bi-graph-up"></i> Leads
                          </a>
                        </li>
                        <% if (userType==='admin' || userType==='hr' ) { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/jobs">
                            <i class="bi bi-briefcase"></i> Jobs Listing
                          </a>
                        </li>
                        <% } %>
                        <% if (userType==='admin' || userType==='hr' ) { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/resume">
                            <i class="bi bi-file-person"></i> Resumes
                          </a>
                        </li>
                        <% } %>
                        <% if (userType==='admin' || userType==='blog writer' ) { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/blog">
                            <i class="bi bi-pencil-square"></i> Blog
                          </a>
                        </li>
                        <% } %>
                        <% if (userType === 'admin' || userType === 'hr') { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/testimonials">
                            <i class="bi bi-chat-quote"></i> Testimonials
                          </a>
                        </li>
                        <% } %>
                        <% if (userType === 'admin') { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/project">
                              <i class="bi bi-kanban"></i> Projects
                          </a>
                        </li>
                        <% } %>
                        <% if (userType === 'admin') { %>
                          <li class="nav-item">
                            <a class="nav-link" href="/dashboard/technology">
                              <i class="bi bi-cpu"></i> Technologies
                            </a>
                          </li>
                        <% } %>
                      </ul>
                    <!-- Divider -->
                    <hr class="navbar-divider my-5 opacity-20">
                    <!-- Navigation -->

                    <!-- Push content down -->
                    <div class="mt-auto"></div>
                    <!-- User (md) -->
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">
                                <i class="bi bi-box-arrow-left"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
         <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Overview</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <!-- <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                                <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Create</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <!-- <li class="nav-item ">
                            <a href="#" class="nav-link active">All files</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">Shared</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">File requests</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Leads Today</span>
                                        <span class="h3 font-bold mb-0"><%= todayLeads %></span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>13%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Since Yesterday</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Leads</span>
                                        <span class="h3 font-bold mb-0"><%= totalLeads %></span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>30%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <!-- <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Leads Today</h5>
                    </div>
                   
                     <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
                    </div> 
                </div> -->
            </div>
        </main>
    </div>


</body>
<script src="/js/navToggle.js"></script>
</html>