<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Tech Tasa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  <nav>
    <div class="wrapper7">
      <div class="logo"><a href="/"><img src="/images/Tech_Tasa_Logo.webp" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="desktop-item">Service</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Service</label>
          <div class="mega-box">
            <div class="content6">
              <div class="row">
                <ul class="mega-links">
                <li><a href="/development.html">All Types Of Development</a></li>
                <li><a href="/maintenance.html">All Types Of Maintenance</a></li>
                <li><a href="/IT Support Services.html">All Types Of IT Support</a></li>
                <li><a href="/techtrainingservices.html">All Types Of Tech Trainings</a></li>
                <li><a href="/Graphics.html">All Types Of Graphics And UI Design</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/seo.html">Content Writing as Per Seo </a></li>
                  <li><a href="/deep_researching.html">Deep Researching</a></li>
                  <li><a href="/selling&rental.html">Selling And Rental</a></li>
                  <li><a href="/deep_testing.html">Deep Testing & Code Testing</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/Human Support.html">Human Support as Per Industry</a></li>
                  <li><a href="/api.html"> Creating API & Customisation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/projects">MyProjects</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://meet.techtasa.com/">Meet</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/apps">Client</a></li>
        <li class="navbar-nav-list-links butt"><a href="/contact" class="linkss">Contact</a></li>
        <% if (loggedin) { %>
          <li class="navbar-nav-list-links butt"><a href="/dashboard" class="linkss blue">Dashboard</a></li>
          <li class="navbar-nav-list-links butt "><a href="/auth/logout" class="linkss red">Logout</a></li>
      <% } else { %>
        <li class="navbar-nav-list-links butt"><a href="/auth/login" class="linkss blue">Login</a></li>
      <% } %>
      </ul>
      <label for="menu-btn" class="btn menu-btn navbar-menu"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
      <!-- ****************************middle*********************************8 -->
       <div id="nav-placeholder"></div>
    <!-- Full-page slider -->
    <div class="apexify-slider">
      <!-- Slide 1 -->
      <div class="apexify-slide slide-1 active">
          <h1 class="apexify-h1">Lorem ipsum dolor sit amet consectetur adipisicing elit!</h1>
          <p class="apexify-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque assumenda repellat officia soluta? Iste laboriosam dicta iure numquam eos quos.</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="apexify-slide slide-2">
          <h1 class="apexify-h1">Lorem ipsum <br>Lorem ipsum</h1>
          <p class="apexify-p">Lorem ipsum dolor sit amet consectetur adipisicing <br>Lorem ipsum dolor sit amet</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="apexify-slide slide-3">
          <h1 class="apexify-h1">Lorem ipsum dolor sit</h1>
          <p class="apexify-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio <br> Lorem ipsum dolor sit amet</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>|
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
      <!-- Slide 4 (New Slide) -->
      <div class="apexify-slide slide-4">
          <h1 class="apexify-h1">Lorem, ipsum dolor</h1>
          <p class="apexify-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, sint.</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
  </div>
      <!-- Slide 3 -->
      <div class="apexify-slide slide-3">
          <h1 class="apexify-h1">Lorem ipsum dolor sit amet</h1>
          <p class="apexify-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quas repellat similique. <br>Lorem ipsum dolor sit amet consectetur.</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>|
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
      <!-- Slide 4 (New Slide) -->
      <div class="apexify-slide slide-4">
          <h1 class="apexify-h1">Lorem ipsum dolor</h1>
          <p class="apexify-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, atque.</p>
          <div class="apexify-call-to-action">
              <a href="https://meet.techtasa.com/" target="_blank" class="apexify-cta-button apexify-schedule-button">Schedule A Call</a>
              <a href="#" class="apexify-cta-button apexify-explore-button">Explore More</a>
          </div>
          <div class="apexify-client-logos">
            <a href="https://www.oceanone.co.in/" target="_blank"><img src="images/logo_oceanone.webp" alt="oceanone"></a>
            <a href="https://rupeexpert.com/" target="_blank"><img src="images/rupeeexpertwhite.png" alt="rupeexpert"></a>
            <a href="https://www.surelyleads.com/index.html" target="_blank"><img src="images/Tech_Tasa_Logo.webp" alt="surelyleads"></a>
            <a href="https://www.getyouths.com/" target="_blank"><img src="images/GetYouths_Logo.webp" alt="getyouth"></a>
            <a href="https://workaholik.in/" target="_blank"><img src="images/workaholik.png" alt="workaholik"></a>
        </div>
      </div>
  </div>
      <!-- Our Vision Section -->
    <div class="vision-body">
        <div class="vision-title-container">
            <h1>Our Vision</h1>
        </div>
        <div class="vision-content">
            <div class="vision-image-container">
                <img src="images/techhhhh.jpg" alt="Technology Image 1">
                <img src="images/img111 - Copy.png" alt="Technology Image 2">
            </div>
            <div class="vision-text-container">
                <h2>Lorem ipsum dolor</h2>
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe culpa in numquam,
                    voluptates rerum, dolorem magni et iusto ratione praesentium unde eaque quasi dicta
                     mollitia explicabo adipisci temporibus possimus
                </p>
            </div>
        </div>
    </div>
    <!-- new -->
    <h1 style="text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;">Lorem ipsum dolor sit amet</h1>
     <section class="making1">
      <div class="containermak">
          <div class="cardmak">
              <i class="fas fa-code"></i>
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia voluptatibus ipsa doloremque fugiat dolor qui repellat illum praesentium quam soluta quia provident et explicabo, culpa officiis vero, impedit unde eos.<a href="/development.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-tools"></i>
              <h3>Lorem ipsum dolor sit</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque sit, modi dolore sint facilis quod hic! Ipsum, magni explicabo<br> <a href="/maintenance.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-headset"></i>
              <h3>Lorem, ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam possimus necessitatibus ab itaque animi numquam, rem excepturi iusto officiis vero, vitae obcaecati repudiandae quidem dolores cupiditate optio totam adipisci.<a href="/IT Support Services.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-chalkboard-teacher"></i>
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>We offer training services to help you and your team get the most out of your technology investments. <a href="/techtrainingservices.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-paint-brush"></i>
              <h3>Lorem ipsum dolor sit amet </h3>
              <p>Our design services ensure your brand stands out with visually appealing and user-friendly interfaces. <a href="/Graphics.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-pen-fancy"></i>
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero libero vitae, consectetur odio mollitia.<br> <a href="/seo.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-search"></i>
              <h3>Lorem, ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, magnam.<a href="/deep_researching.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-store"></i>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam alias deserunt dolor corrupti sunt dolore <a href="/selling&rental.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-bug"></i>
              <h3>Lorem ipsum dolor sit</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos assumenda dolores hic vel, nemo nam facere fugit beatae odio esse.<a href="/deep_testing.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-user-friends"></i>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit in pariatur blanditiis consequatur nostrum earum illo unde consequuntur? Excepturi, recusandae. <a href="/Human Support.html">Read More</a></p>
          </div>
          <div class="cardmak">
              <i class="fas fa-cogs"></i>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rem deleniti ratione enim consectetur similique voluptatum molestiae reprehenderit cupiditate asperiores.<a href="/">Read More</a></p>
          </div>
      </div>
    </section>
    <!--  -->
    <div class="testimonial-section">
      <h2 class="testimonial-title">lorem</h2>
      <div class="testimonial-container">
          <div class="testimonial-text">
              <h3>Lorem ipsum dolor, <br> Lorem ipsum dolor</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ea alias officiis aliquam corporis optio blanditiis non debitis dignissimos dolorem.</p>
          </div>
          <div class="testimonial-image">
              <img src="images/laptop.png" alt="Laptop Image">
          </div>
      </div>
    </div>
    </div>
      <section>
        <div class="working-processvvv">
          <h2>Lorem, ipsum dolor</h2>
          <div class="process-stepsvvv">
            <div class="stepvvv">
              <img src="images/01.png" alt="Step 1 Image">
              <h3 class="hollowvvv">01</h3>
              <i class="ri-file-list-3-line"></i>
              <p>Lorem, ipsum dolor</p>
            </div>
            <div class="stepvvv">
              <img src="images/02.png" alt="Step 2 Image">
              <h3 class="hollowvvv">02</h3>
              <i class="ri-user-3-line"></i>
              <p>Lorem, ipsum dolor</p>
            </div>
            <div class="stepvvv">
              <img src="images/03.png" alt="Step 3 Image">
              <h3 class="hollowvvv">03</h3>
              <i class="ri-rocket-line"></i>
              <p>Lorem ipsum.</p>
            </div>
          </div>
        </div>
        <div class="contact-container">
          <div class="contact-us">
            <h3>Contact Us</h3>
            <form action="/loan/apply/cowork" method="post" enctype="multipart/form-data">
              <div class="form-group">  
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="E-Mail Address" required>
              </div>
              <div class="form-group">
                <input type="text" name="company" placeholder="Company Name" required>
                <input type="tel"  name="number" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
              </div>
              <div class="form-group">
                <textarea name="message"   placeholder="Tell us anything else that might be important." required></textarea>
              </div>
              <div class="form-submit">
                <button type="submit">Submit Request</button>
              </div>
            </form>
          </div>
        </div>
      </section>
</body>
<footer class="footerccc">
  <div class="footer-containerccc">
    <div class="footer-sectionccc">
      <a href="/">
        <img src="images/Tech_Tasa_Logo.webp" alt="" class="footer-logoccc">
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus earum inventore consequuntur accusamus rem.</p>
    </div>
    <div class="footer-sectionccc">
      <h4>Quick Menu</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Work</a></li>
        <li><a href="/services.html">Services</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Resources</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
       <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-sectionccc">
      <h4>Lorem ipsum dolor sit</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, placeat!</p>
      <form>
        <div class="subscribe-container">
          <input type="email" placeholder="Enter your Email" class="email-input">
          <button class="subscribe-button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-bottomccc">
    <p>&copy; 2024 TECHTASA All Rights Reserved</p>
    <div class="social-iconsccc">
      <a href="https://www.facebook.com/techtasa/"><img src="images/fb.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/tech.tasa/"><img src="images/IG.png" alt="Instagram"></a>
      <a href="https://x.com/Tech_Tasa"><img src="images/tw.png" alt="Twitter"></a>
    </div>
  </div>
</footer>
<script src="script.js"></script>
</html>