<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rupeexpert</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="../css/services.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <nav>
    <div class="wrapper7">
      <div class="logo"><a href="/"><img src="/images/Tech_Tasa_Logo.webp" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="desktop-item">Service</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Service</label>
          <div class="mega-box">
            <div class="content6">
              <div class="row">
                <ul class="mega-links">
                <li><a href="/development.html">All Types Of Development</a></li>
                <li><a href="/maintenance.html">All Types Of Maintenance</a></li>
                <li><a href="/IT Support Services.html">All Types Of IT Support</a></li>
                <li><a href="/techtrainingservices.html">All Types Of Tech Trainings</a></li>
                <li><a href="/Graphics.html">All Types Of Graphics And UI Design</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/seo.html">Content Writing as Per Seo </a></li>
                  <li><a href="/deep_researching.html">Deep Researching</a></li>
                  <li><a href="/selling&rental.html">Selling And Rental</a></li>
                  <li><a href="/deep_testing.html">Deep Testing & Code Testing</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="/Human Support.html">Human Support as Per Industry</a></li>
                  <li><a href="/api.html"> Creating API & Customisation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/technology">Courses</a></li>
        <li><a href="/projects">Clients</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/outsourcing">Outsourcing</a></li>
        <li><a href="/readytosell">Readytosell</a></li>
        <li><a href="https://meet.techtasa.com/">Meet</a></li>
        <li class="navbar-nav-list-links butt"><a href="/contact" class="linkss">Contact</a></li>
        <% if (loggedin) { %>
          <li class="navbar-nav-list-links butt"><a href="/dashboard" class="linkss blue">Dashboard</a></li>
          <li class="navbar-nav-list-links butt "><a href="/auth/logout" class="linkss red">Logout</a></li>
      <% } else { %>
         <li class="navbar-nav-list-links butt"><a href="/auth/login" class="linkss blue">Login</a></li>
                    <li class="navbar-nav-list-links butt"><a href="/auth/signup" class="linkss red">SignUp</a></li>
      <% } %>
      </ul>
      <label for="menu-btn" class="btn menu-btn navbar-menu"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  <div class="services">
    <div class="container p-5" style="background:linear-gradient(to left, #0561CA,#00278C);">
      <h4>Home Loan</h4>
    </div>
    <style>
      /*  */
      .cards11 {
            max-width: 1120px;
            margin: 0 auto;
            /* display: grid; */
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .card12 {
          /* background-color: dodgerblue; */
          color: white;
          padding: 1rem;
            /* height: 4rem; */
          }
          .text2 h1{
            color: black;
          }
          .text2 p{
            color: black;
          }
          </style>
    <div class="cards11">
      <div class="card12">
    <div class="text2">
      <h1>Short Content:- </h1>
      <p>1) A home loan is a secured borrowing secured by property. It's used to buy real estate by pledging the property as collateral. These loans provide substantial funds at affordable rates and extended repayment periods. Payments are made through equated monthly installments. Upon full repayment, ownership of the property is transferred back to the borrower. <BR></BR>

        2) A home loan is a type of secured financing that individuals obtain to purchase a property, typically a house or an apartment. The loan is secured by the property itself, which means that if the borrower fails to repay the loan, the lender can take possession of the property to recover the outstanding debt. Home loans typically offer large loan amounts, low-interest rates, and long repayment periods, making them an attractive option for financing real estate purchases. Repayments are structured as equated monthly installments, which include both principal and interest components. Once the borrower fully repays the loan, the ownership title of the property is transferred from the lender back to the borrower, giving them full ownership rights. <BR></BR>
        
        3)The door to your dream home! It represents an intelligent and reliable approach to transforming your real estate dreams into tangible achievements. With a home loan, you can access generous funding at competitive interest rates and enjoy flexible repayment terms tailored to your needs. Picture yourself making convenient monthly payments, known as EMIs, as you watch your ownership stake in your dream property grow. And once you've fulfilled your repayment obligations, the property's title is yours to cherish forever. Don't just dream of owning a home – seize the opportunity with a hassle-free home loan today.</p>
    </div>
    <div class="text2">
      <h1>Deep Content:-</h1>
      <p>Owning a home stands as a significant financial and personal milestone for many individuals and families alike. It represents stability, security, and the realization of long-held aspirations. However, the journey to homeownership often requires substantial financial resources that extend beyond immediate savings. This is where home loans emerge as a critical financial instrument.
        A home loan, also known as a mortgage, represents a form of secured borrowing uniquely tailored to facilitate property acquisition. Whether it's a detached house, condominium, or apartment, home loans empower individuals to finance their dream homes by leveraging the property itself as collateral. This distinctive feature sets home loans apart from other lending products, ensuring lenders have recourse through foreclosure in the event of borrower default.
        One of the primary draws of home loans lies in their capacity to provide borrowers with access to substantial capital at comparatively low interest rates. This accessibility broadens the spectrum of potential homeowners, enabling them to distribute the financial burden of homeownership over an extended period, typically spanning 15 to 30 years. Moreover, the interest accrued on home loans often carries tax benefits, further bolstering the financial appeal of homeownership.
        The process of obtaining a home loan entails meeting specific eligibility criteria established by lenders. These prerequisites typically encompass stable income streams, favorable credit histories, and manageable debt-to-income ratios. Additionally, borrowers are generally required to contribute a down payment towards the property's purchase price, with amounts typically ranging from 3% to 20% contingent upon various factors such as creditworthiness and loan program specifications.
        Upon securing approval for a home loan, borrowers commit to regular payments to the lender, typically on a monthly basis. These payments, referred to as Equated Monthly Installments (EMIs), comprise both principal and interest components, ensuring a steady reduction of the loan balance over time. While the total monthly payment remains constant throughout the loan term, borrowers have the flexibility to accelerate equity accumulation by making additional payments towards the principal.
        A significant advantage of home loans lies in their extended repayment tenure, affording borrowers the opportunity to amortize homeownership costs over several years. While this results in lower monthly obligations, it also entails higher cumulative interest payments over the loan's lifespan. Nevertheless, borrowers retain the option to strategically allocate surplus funds towards principal reduction, thereby mitigating interest expenses and shortening the loan duration.
        Furthermore, the utilization of the property as collateral mitigates lending risks for financial institutions, enabling them to extend larger loan amounts and more favorable terms to borrowers. This collateralization enhances accessibility to financing and fosters a broader spectrum of homeownership opportunities for aspiring buyers.
        However, borrowers must exercise prudence and diligence in evaluating their financial circumstances and loan requirements before embarking on a home loan journey. Homeownership entails multifaceted responsibilities, encompassing property maintenance, insurance coverage, and tax obligations. Failure to adhere to repayment obligations can culminate in foreclosure proceedings, resulting in the loss of the property and adverse financial ramifications for the borrower.
        In summation, home loans serve as indispensable facilitators in the pursuit of homeownership aspirations. By furnishing affordable financing avenues and flexible repayment structures, home loans empower individuals to translate their homeownership dreams into tangible realities. Nonetheless, borrowers must approach home loans with judicious consideration, comprehensively comprehending the associated terms and obligations to ensure sustainable homeownership endeavors. With meticulous planning and informed decision-making, home loans serve as instrumental tools in realizing the quintessential dream of homeownership.</p>
    </div>
    <div class="text2">
      <h1>Examples:-</h1>
      <p>1)Fixed-Rate Home Loan:
        Fixed-rate home loans offer stability and predictability, with the interest rate remaining constant throughout the loan term. Borrowers benefit from knowing exactly how much their monthly payments will be, making budgeting easier. This type of loan is ideal for those who prefer long-term financial planning and want to avoid fluctuations in interest rates. <BR></BR>
        
        2)Adjustable-Rate Mortgage (ARM):
        A flexible home loan incorporates an interest rate that can fluctuate over time, contingent on prevailing market circumstances. Initially, ARMs typically offer lower interest rates compared to fixed-rate loans, making them attractive to borrowers seeking lower initial payments. However, the interest rate can adjust upwards over time, potentially increasing the borrower's monthly payments. <BR></BR>
        
        3)FHA Loan:
        Backed by the Federal Housing Administration (FHA), FHA loans are designed to assist borrowers with limited financial resources or imperfect credit histories. These loans typically require lower down payments and have more flexible qualification criteria compared to conventional mortgages. FHA loans are particularly beneficial for first-time homebuyers or those with lower credit scores. <BR></BR>
        
        4)VA Loan:
        VA loans are exclusively available to eligible military service members, veterans, and their families. These loans are backed by the U.S. Department of Veterans Affairs and offer numerous benefits, including no down payment requirements, competitive interest rates, and limited closing costs. VA loans provide an opportunity for military personnel to achieve homeownership with favorable terms and conditions. <BR></BR>
        
        5)Jumbo Loan:
        Jumbo loans are designed to finance high-value properties that exceed the conforming loan limits set by government-sponsored enterprises like Fannie Mae and Freddie Mac.Such mortgages usually necessitate increased initial payments and enforce more rigorous eligibility standards in contrast to standard home loans. Jumbo loans are ideal for borrowers seeking financing for luxury homes or properties in high-cost areas with elevated real estate prices.</p>
    </div>
    <div class="text2">
      <h1>Advantages:-</h1>
      <p>Lower interest rates: New home loans typically offer competitive interest rates, potentially resulting in significant savings over the life of the loan compared to higher-rate alternatives.

        Flexible repayment terms: Borrowers have the option to select from a variety of repayment plans, including fixed-rate and adjustable-rate mortgages, tailoring their loan structure to fit their financial goals and circumstances.
        
        Tax benefits: Homeownership often comes with tax advantages, such as deductions for mortgage interest and property taxes, which can lead to substantial savings for homeowners, especially in the early years of the loan.
        
        Accessible down payment options: Many lenders provide programs with low down payment requirements, making homeownership more accessible to individuals who may not have substantial savings for a traditional down payment.
        
        Building equity: By making regular mortgage payments, homeowners gradually build equity in their property, which can serve as a valuable asset and provide financial security over time.
        
        Customization opportunities: New home loans offer buyers the opportunity to personalize their living space to their preferences, whether through renovations, upgrades, or customization options offered by builders.
        
        Pride of ownership: Owning a home can instill a sense of pride and accomplishment, as well as a deeper connection to the community and neighborhood.
        
        Stable housing costs: With a fixed-rate mortgage, homeowners enjoy stable monthly payments throughout the loan term, providing predictability and protection against fluctuations in housing costs.
        
        Appreciation potential: Historically, real estate has appreciated in value over time, potentially allowing homeowners to build wealth through the increase in their property's market value.
        
        Security and stability: Homeownership offers stability and security, providing a sense of permanence and freedom from concerns related to rental agreements or landlord changes.
        
        Borrowing power: Home equity can serve as collateral for future loans, giving homeowners access to additional funds for various purposes, such as home improvements, education expenses, or debt consolidation.
        
        Potential rental income: Homeowners may have the opportunity to generate additional income by renting out a portion of their property or investing in rental properties, thereby diversifying their income streams.
        
        Forced savings: Making regular mortgage payments serves as a form of forced savings, helping homeowners build wealth over time through the gradual reduction of their loan balance and the accumulation of home equity.
        
        Independence: Homeownership provides greater autonomy over one's living space, allowing for personalization and lifestyle choices without the constraints often associated with renting.
        
        Generational wealth: Owning a home can serve as a foundation for building generational wealth, as property values typically appreciate over the long term, providing financial security and opportunities for future generations.
        
        Stability in retirement: Paying off a mortgage by retirement age can reduce living expenses, providing homeowners with increased financial stability and peace of mind during their retirement years.
        
        Community ties: Homeownership tends to foster stronger connections to the community, as homeowners are more likely to be invested in their neighborhood's well-being and participate in local activities and initiatives.
        
        Investment diversification: Real estate ownership diversifies investment portfolios, potentially reducing overall risk and enhancing long-term financial returns through exposure to a different asset class.
        
        Creative freedom: Homeowners have the freedom to express their creativity and style through home decor, renovations, and landscaping, transforming their living space into a reflection of their personality and preferences.
        
        Legacy building: A home can serve as a lasting legacy, passed down through generations, preserving family heritage and providing future generations with a tangible asset and financial security.</p>
    </div>
    <div class="text2">
      <h1>Case Study:-</h1>
      <p>In the bustling urban landscape of Metroville, the Smith family embarked on a meticulously planned journey towards homeownership, leveraging the multifaceted advantages offered by new home loans. Their narrative serves as an illuminating case study, showcasing the profound impact of strategic financial decisions and the transformative potential of property ownership on individual and familial prosperity.

        Faced with the complex intricacies of the real estate market, the Smiths embarked on an exhaustive research endeavor, diligently exploring their options and seeking guidance from financial experts to identify the most conducive loan product for their unique circumstances. Intrigued by the promise of lower interest rates associated with new home loans, they discerned the long-term financial benefits of securing an advantageous rate, setting the stage for their pursuit of homeownership with astute financial acumen.
        
        With a clear-eyed assessment of their financial capabilities and aspirations, the Smiths engaged with a reputable mortgage lender to navigate the labyrinthine landscape of loan offerings. Opting for a fixed-rate mortgage, they embraced the stability and predictability of uniform monthly payments, insulating themselves against the vagaries of fluctuating housing costs and laying a robust foundation for their financial future.
        
        Among the myriad advantages afforded by their chosen new home loan was the accessibility of down payment assistance programs, which served as a pivotal enabler in realizing their homeownership aspirations. Despite grappling with constrained savings, the Smiths availed themselves of low down payment options, thereby obviating a significant barrier to entry into the competitive housing market and empowering themselves to invest in their future with confidence and conviction.
        
        As the Smiths settled into the sanctuary of their newfound abode, they bore witness to the tangible fruits of their homeownership journey. With each passing mortgage payment, they incrementally accrued equity in their property, witnessing firsthand the appreciable growth of their asset portfolio and consolidating their financial foothold with unwavering resolve. The imbued sense of pride and ownership permeated the very fabric of their household, infusing every nook and cranny with an ineffable aura of belonging and fulfillment.
        
        Beyond the palpable financial dividends, homeownership ushered in an era of unprecedented autonomy and creative expression for the Smiths. Galvanized by the liberty to imbue their living space with personalized touches and aesthetic flourishes, they embarked on a transformative journey of home improvement and renovation, fashioning a bespoke sanctuary that bore testament to their unique identity and aspirations. With each brushstroke and architectural alteration, they forged an indelible legacy of creativity and self-expression that reverberated throughout the annals of their familial history.
        
        The stability and security engendered by their new home loan transcended the confines of their immediate domicile, permeating the very fabric of their community and engendering profound social bonds and connections. As active participants in the communal tapestry of Metroville, the Smiths became integral contributors to the vibrant fabric of their neighborhood, fostering a sense of camaraderie and solidarity that enriched their lives immeasurably.
        
        Surveying the horizon of possibility that stretched before them, the Smiths harbored a profound awareness of the potential of their home as a harbinger of generational wealth and legacy. With meticulous foresight and strategic planning, they resolved to liquidate their mortgage obligations by the time of their retirement, thereby ensuring a legacy of stability and prosperity for themselves and their progeny. Their abode emerged as a beacon of hope and possibility, an enduring testament to their unwavering resilience and steadfast commitment to financial empowerment.
        
        In summation, the Smith family's odyssey serves as a compelling testament to the transformative power of new home loans in fostering financial empowerment and realizing the dream of homeownership. Through judicious financial planning, astute utilization of flexible loan mechanisms, and a steadfast commitment to the myriad advantages of property ownership, they charted a course towards a brighter and more prosperous future, inspiring countless others to embark on a similar trajectory of financial empowerment and fulfillment.
        
        CASE STUDY 2
        
        Case Study on New Home Loans and Intercontinental Relocation
        In the picturesque city of Tranquilville, the Lee family embarked on an extraordinary journey of intercontinental relocation, fueled by the transformative potential of new home loans. Their narrative stands as a captivating case study, exemplifying how strategic financial decisions can unlock the doors to new horizons and profound personal fulfillment.
        Amidst the backdrop of a burgeoning global economy, the Lee family found themselves presented with a once-in-a-lifetime opportunity for professional advancement and personal growth, albeit in a distant land across the ocean. Faced with the daunting prospect of uprooting their lives and resettling in an unfamiliar environment, they turned to the prospect of homeownership as a beacon of stability and security amidst the tumult of change.
        Navigating the labyrinthine landscape of international real estate markets, the Lees embarked on an exhaustive quest to identify the ideal property that would serve as their sanctuary in their new adopted homeland. With the guidance of seasoned real estate professionals and mortgage advisors, they meticulously evaluated their options and unearthed a hidden gem—a charming abode nestled amidst the verdant hills of Tranquilville.
        Bolstered by the enticing allure of new home loans, the Lees seized the opportunity to secure a mortgage tailored to their unique needs and aspirations. Drawn by the promise of competitive interest rates and flexible repayment terms, they embarked on their homeownership journey with a sense of optimism and determination, recognizing the potential for long-term financial stability and prosperity.
        One of the most compelling facets of their new home loan was the accessibility of down payment assistance programs, which served as a vital enabler in facilitating their transition to homeownership in a foreign land. Despite the logistical complexities inherent in international relocation, the Lees found solace in the knowledge that they could leverage low down payment options to realize their dream of establishing roots in Tranquilville.
        As the Lees settled into the embrace of their new abode, they bore witness to the transformative power of homeownership in fostering a sense of belonging and community amidst the vast expanse of their adopted homeland. With each passing day, they immersed themselves in the rich tapestry of Tranquilville's culture and heritage, forging meaningful connections with their neighbors and fellow residents.
        Beyond the tangible benefits of financial stability and security, homeownership bestowed upon the Lees a newfound sense of autonomy and creative expression. Galvanized by the liberty to customize their living space to their unique tastes and preferences, they embarked on a journey of home improvement and renovation, imbuing their abode with a distinct sense of personality and character that reflected their eclectic sensibilities.
        The stability and security afforded by their new home loan served as a cornerstone of the Lees' newfound life in Tranquilville, providing a sense of continuity and permanence amidst the ebb and flow of global currents. As active participants in the communal fabric of their neighborhood, they found themselves embraced by the warmth and hospitality of their newfound community, fostering bonds of friendship and camaraderie that transcended geographical boundaries.
        Surveying the vista of possibility that stretched before them, the Lees harbored a profound appreciation for the transformative power of homeownership in facilitating their intercontinental relocation and fostering a sense of personal fulfillment and achievement. With their mortgage obligations carefully managed and their financial future secured, they embarked on a journey of exploration and discovery, savoring the myriad joys and opportunities afforded by their newfound home in Tranquilville.
        In conclusion, the Lee family's odyssey serves as a compelling testament to the transformative potential of new home loans in unlocking the doors to new horizons and profound personal fulfillment. Through strategic financial planning and a steadfast commitment to the dream of homeownership, they charted a course towards a brighter and more prosperous future, inspiring countless others to embark on their own journey of intercontinental relocation and discovery.</p>
    </div>
    <div class="text2">
      <h1>Important Points:-</h1>
      <p>1)Competitive interest rates: New home loans often come with rates that are highly competitive, resulting in reduced borrowing costs and significant savings for homeowners <BR></BR>

        2)Affordable down payments: Many lenders offer options for low down payments, making the dream of homeownership more accessible even for those with limited savings. <BR></BR>
        
        3)Tax incentives: Homeowners can take advantage of tax deductions on mortgage interest and property taxes, leading to decreased tax liabilities and increased financial benefits. <BR></BR>
        
        4)Equity accumulation: Through regular mortgage payments, homeowners steadily accumulate equity in their property, establishing a valuable asset that enhances their overall net worth. <BR></BR>
        
        5)Predictable housing expenses: Fixed-rate mortgages ensure stable monthly payments, shielding homeowners from unexpected increases in rental costs and providing financial predictability. <BR></BR>
        
        6)Personalized living spaces: Homeownership grants the freedom to customize and renovate, empowering homeowners to create unique environments that reflect their individual tastes and preferences. <BR></BR>
        
        7)Appreciation potential: Real estate tends to appreciate over time, offering homeowners the opportunity to increase the value of their property and build wealth through long-term investment. <BR></BR>
        
        8)Stability and security: Owning a home provides a sense of stability and security, eliminating worries about lease renewals, rent hikes, or changes in landlords <BR></BR>
        .
        9)Intergenerational wealth transfer: Homeownership serves as a means to pass down a valuable asset to future generations, paving the way for the creation and preservation of family wealth. <BR></BR>
        
        10)Sense of accomplishment: Becoming a homeowner instills a profound sense of pride and achievement, fostering a deeper connection to the community and enhancing one's sense of belonging.</p>
    </div>
    <div class="text2">
      <h1>Pictures :-</h1>
      <p></p>
    </div> <div class="text2">
      <h1>Videos:-</h1>
      <p></p>
    </div>
      </div>
    </div>
  </div>
  <section class="footer">
    <div class="footer-content">
      <img src="../images/XpertRupees_Logo_White.svg" alt="">
      <ul>
        <li class=" footer-link"><a href="/">Home</a></li>
        <li class=" footer-link"><a href="/services">Services</a></li>
        <li class=" footer-link"><a href="/career">Career</a></li>
        <li class=" footer-link"><a href="/blog">Blog</a></li>
        <li class=" footer-link"><a href="/contact">Contact</a></li>
      </ul>
      <div class="icons">
        <a href="https://www.facebook.com/rupeexpert/?ref=pages_you_manage"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg></a>
        <a href="https://www.linkedin.com/company/rupeexpert/?viewAsMember=true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg></a>
      </div>
    </div>
    <div class="footer-map">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=oceanone hq&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.kokagames.com/fnf-friday-night-funkin-mods/">Friday Night Funkin Mods</a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 400px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }

          .gmap_iframe {
            height: 400px !important;
          }
        </style>
      </div>
    </div>
  </section>
  <style>
    .footer2 {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #000000;
      color: #fff;
      padding: 10px;
    }

    .footer2 a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <section class="footer2">
    <small>&copy; Copyright 2024, Ocean One Pvt. Ltd</small>
    <small> Developed By <a href="https://www.techtasa.com/">Techtasa</a></small>
  </section>
</body>
<script src="../js/script.js"></script>
<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>