<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Loans</title>
    <style>
        img{
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Apply Loans</h1>
    <a href="loan/apply/creditcard">
    <img src="https://www.visasoutheasteurope.com/dam/VCOM/regional/ap/taiwan/global-elements/images/tw-visa-platinum-card-498x280.png" alt="">
    </a>
    <a href="loan/apply/homeloan">
    <img src="https://www.loanfasttrack.com/blog/wp-content/uploads/2021/04/housing-loan-1.jpg" alt="">
    </a>
    <a href="loan/apply/microloan">
    <img src="https://cdn.muthootfinance.com/sites/default/files/files/2021-08/micro_mobile.png" alt="">
    </a>
    <a href="loan/apply/businessloan">
    <img src="https://www.zeebiz.com/iifl/wp-content/uploads/2022/12/Business-Loan.jpg" alt="">
    </a>
    <a href="loan/apply/personalloan">
    <img src="https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/blog/personal-loan/personal-loan-eligibility-criteria-717x404.jpg" alt="">
    </a>
</body>
</html>