<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rupeexpert</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/services.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div id="menu"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1b1dc7" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <line x1="4" y1="6" x2="20" y2="6" />
        <line x1="4" y1="12" x2="20" y2="12" />
        <line x1="4" y1="18" x2="20" y2="18" />
      </svg></div>
    <a href="/" class="logo"><img src="../images/XpertRupees_Logo.svg" alt=""></a>
    <ul class="links">
      <li class=" link "><a href="/">Home</a></li>
      <li class=" link active"><a href="/services">Services</a></li>
      <li class=" link "><a href="/career">Career</a></li>
      <li class=" link "><a href="/blog">Blog</a></li>
      <li class=" link"><a href="/contact">Contact</a></li>
    </ul>
    <% if (loggedin) { %>
    <button class="cta" onClick='location="/dashboard"'>Dashboard</button>
    <% } else { %>
    <button class="cta" onClick='location="/auth/login"'>Sign In</button>
    <% } %>
  </nav>
  <div class="services">
    <div class="container p-5" style="background:linear-gradient(to left, #0561CA,#00278C);">
      <h4>Micro Loans</h4>
    </div>
    <style>
      /*  */
      .cards11 {
            max-width: 1120px;
            margin: 0 auto;
            /* display: grid; */
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .card12 {
          /* background-color: dodgerblue; */
          color: white;
          padding: 1rem;
            /* height: 4rem; */
          }
          .text2 h1{
            color: black;
          }
          .text2 p{
            color: black;
          }
          </style>
    <div class="cards11">
      <div class="card12">
    <div class="text2">
      <h1>Short Content:- </h1>
      <ul  style="list-style: decimal;color: #000000;">
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis harum aliquid inventore, impedit officiis quasi mollitia nam voluptas? Harum repellendus sapiente cupiditate placeat perferendis qui maiores reprehenderit suscipit ipsum dolores.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat neque, veniam rerum exercitationem aut ab voluptatibus ratione animi iste saepe a accusantium nesciunt, beatae, facilis possimus nulla officiis? Sapiente, ratione</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab consectetur quae inventore in? Saepe minima sunt, laboriosam excepturi molestiae dolore sequi tenetur ex unde ratione voluptatibus cupiditate commodi est incidunt</li>
      </ul>
    </div>
    <div class="text2">
      <h1>Deep Content:-</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid nesciunt rerum ea qui sapiente eveniet officia ratione ipsa cupiditate,<BR></BR>

         perferendis similique impedit error quis quam unde sequi hic illum libero nemo doloremque voluptate molestias fuga dolores non! Earum <BR></BR>

         debitis non sequi expedita! Facilis, modi porro! Quae suscipit, cum voluptates expedita magnam ad ex adipisci? Non, iste error. Itaque <BR></BR>

         blanditiis voluptas commodi similique earum, unde dolore maiores exercitationem fugiat modi quisquam porro dolorum corrupti. Velit est <BR></BR>

         eaque perferendis. Iure vel aspernatur maiores pariatur, officia placeat, esse id debitis dolorum et voluptatum neque quaerat veniamBR

         accusantium saepe sunt, provident delectus ea blanditiis.</p>
    </div>
    <div class="text2">
      <h1>Examples:-</h1>
      <p>1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima enim repellendus eligendi non accusamus sunt inventore, ipsum, sequi deserunt perspiciatis exercitationem? Eligendi maiores sit mollitia eaque sunt odit voluptatum. <BR></BR>

        2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque voluptas, voluptate cum dolores quibusdam ipsum blanditiis distinctio alias repellat obcaecati unde sunt minima rerum reiciendis quasi facere ex ducimus <BR></BR>
        
        3) Juanita, a resilient businesswoman situated in a coastal enclave, harnessed the transformative power of microcredit to scale her seafood enterprise. Equipped with upgraded equipment and expanded market access, Juanita's venture not only bolstered her family's prosperity but also served as a catalyst for broader economic empowerment within her maritime community. <BR></BR>
        
        4) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est qui ex aspernatur repudiandae ullam aperiam itaque a nam tempora sit optio esse ad sapiente veniam eius, necessitatibus veritatis. Maxime, aliquam! <BR></BR>
        
        5) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi fugiat vero unde recusandae quas, fugit earum similique officiis commodi quasi blanditiis quam molestiae provident impedit? Atque a delectus obcaecati quidem. <BR></BR></p>
    </div>
    <div class="text2">
      <h1>Advantages:-</h1>
      <p>1) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quod dolorem nesciunt? Fugit eos fuga, voluptatibus dolorem quasi ab eveniet obcaecati hic in facere, labore a voluptatum excepturi alias atque. <BR></BR>

        2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate recusandae molestiae unde facilis in cum commodi totam excepturi eius reprehenderit dolorum, illum ullam quos ex quasi? Omnis necessitatibus animi praesentium! <BR></BR>
        
        3) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod consectetur praesentium, non officiis asperiores tenetur! Repellendus cupiditate, iure earum in natus autem. Accusantium enim debitis ipsa. Eos omnis quae atque. <BR></BR>
        
        4) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ad, quo magnam fuga nostrum laboriosam at mollitia, cum possimus provident ipsum fugit vel fugiat enim obcaecati esse, iusto aspernatur. Consequuntur.<BR></BR>
        
        5) Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestiae ullam repudiandae quae in. Ea architecto adipisci fuga aspernatur impedit eligendi quisquam dolores totam exercitationem sint voluptatibus, explicabo aperiam enim! <BR></BR>
        
        6) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto quo consequatur, dolore possimus distinctio quia alias ut, numquam saepe, soluta fugit debitis fugiat unde blanditiis! Veritatis eum quidem saepe <BR></BR>
        
        7) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis reprehenderit labore expedita vero ratione qui recusandae dicta dolorem adipisci nam, perferendis minus illo nesciunt, vel natus aut ut officiis. Natus!<BR></BR>
        
        8) Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quas natus quaerat iure architecto labore esse quam praesentium. Possimus quod fugit error aut nam dolorem reiciendis, veritatis officia incidunt dolore. <BR></BR>
        
        9) Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nobis neque dignissimos. Facere atque aut, libero est doloribus in? Ratione similique doloremque architecto nobis ea cupiditate eius fugiat tempore porro! <BR></BR>
        
        10) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum facilis hic eaque placeat quo? Odio perspiciatis in minus illum beatae tempore quo officia laborum, animi, consectetur ullam possimus corporis. <BR></BR>
        
        11) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, est? Officia error iste cumque veniam vel dolor aut aspernatur ea qui cum saepe, reiciendis accusamus eum animi atque itaque nemo! <BR></BR>
        
        12) Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias temporibus, placeat numquam praesentium quaerat sint dignissimos quod eum nesciunt consequuntur quia dolorem expedita aliquid hic incidunt deleniti excepturi in necessitatibus.<BR></BR>
        
        13) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque laborum optio ducimus nihil, reiciendis iste asperiores, delectus porro corrupti nobis. Doloremque ex ipsum dolorem voluptatum eum quo atque aliquam! <BR></BR>
        
        14) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi aliquid quidem laborum error sapiente, similique accusantium ullam iste. Aperiam molestias commodi eveniet ducimus labore modi dolore eos omnis id! Deserunt! <BR></BR>
        
        15) Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, reiciendis temporibus adipisci cupiditate debitis beatae ipsum quos illo voluptate? Dolores, consequuntur. Quod repellendus dolorum harum a ratione. Eveniet, quibusdam fugit<BR></BR>
        
        16) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint vel sit fugit asperiores pariatur ex vero, minima atque tempora reiciendis qui adipisci nostrum tempore quia sed magni delectus. Vel, asperiores <BR></BR>
        
        17) Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, officiis animi magni velit consequuntur qui explicabo, eveniet repellat quae dignissimos quaerat consectetur repudiandae dolorum labore cupiditate, sed porro eius minus. <BR></BR>
        
        18) Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quos maiores harum temporibus voluptates eum similique, obcaecati commodi natus error sed! Dolores libero obcaecati veniam blanditiis, illum soluta qui distinctio! <BR></BR>
        
        19) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere labore laboriosam eius earum dolore libero soluta aut, debitis eveniet iusto deleniti nesciunt vel, ipsa exercitationem doloribus modi optio. Sit. <BR></BR>
        
        20) Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptates dolorem et ad nobis ut eos nam tenetur officia, ducimus delectus culpa maxime corrupti corporis! Laborum ullam accusantium doloribus velit <BR></BR>
        </p>
    </div>
    <div class="text2">
      <h1>Case Study:-</h1>
      <p>Introduction: <BR></BR>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, totam qui? Quam, amet obcaecati. Nisi officia neque quisquam sed porro quia non, 
        suscipit recusandae, possimus optio placeat maiores accusamus odit:  <BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur iure rerum placeat, sapiente veniam vel alias at consequuntur
        totam itaque consequatur sunt! Nesciunt sint expedita quisquam a, ex accusamus eum. <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae doloremque cupiditate odit ratione, numquam accusantium minus accusamus ipsa, 
       deserunt repudiandae corporis hic, magnam officia obcaecati quod non eos? Id, ipsa? <BR></BR>
        
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eos tenetur iste, odio ipsam quae ea labore nihil aperiam, delectus itaque 
       odit adipisci dignissimos aut aliquid aspernatur consequatur natus! Natus. <BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae fugit ipsa, sed voluptatibus eveniet molestias illo recusandae consequuntur
        reprehenderit, ut iste! Accusantium id harum repellat quaerat provident accusamus, enim vel! <BR></BR>
        
        CASE STUDY  2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti! <BR></BR>
        
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis deleniti, dolore sint
        eum nesciunt consequuntur qui veniam fuga odio nihil quos optio quae blanditiis, non a at sit sed minima <BR></BR>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint incidunt quidem. Cum, nihil quidem dicta, a explicabo totam consequatur adipisci placeat officia et dolore porro, voluptatem error praesentium unde.<BR></BR>
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet id, vitae eveniet officia placeat unde dolorem aliquid modi pariatur obcaecati totam eos, sunt natus? Numquam cum quo quae aut veniam. <BR></BR>
        
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima voluptates in accusamus earum deserunt quo necessitatibus molestias. Cupiditate perspiciatis nisi ipsa suscipit, quibusdam commodi necessitatibus magni corporis similique molestiae? Itaque <BR></BR>
        
        Conclusion: <BR></BR>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sunt, deleniti eos, impedit veritatis sint quidem voluptates quasi, eius assumenda nisi distinctio illo libero a magnam expedita reiciendis blanditiis eligendi.</p>
    </div>
    <div class="text2">
      <h1>Important Points:-</h1>
      <p>1) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores aspernatur nobis, cumque commodi ea blanditiis voluptatem enim ut tenetur rerum mollitia quisquam odio obcaecati reprehenderit amet quam accusamus tempora consequatur. <BR></BR>

        2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates <BR></BR>
        
        3) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates<BR></BR>
        
        4)Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates <BR></BR>
        
        5) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates. <BR></BR> 
        
        6) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates <BR></BR>
        
        7) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates<BR></BR>
        
        8)Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates<BR></BR>
        
        9) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates <BR></BR>
        
        10) Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic dicta amet, pariatur optio voluptas itaque et assumenda illo voluptatum consequatur cum? Placeat minus eius quaerat quasi corrupti repudiandae. Voluptates.</p>
    </div>
    <div class="text2">
      <h1>Pictures :-</h1>
      <p></p>
    </div> <div class="text2">
      <h1>Videos:-</h1>
      <p></p>
    </div>
      </div>
    </div>
  </div>
  <section class="footer">
    <div class="footer-content">
      <img src="../images/XpertRupees_Logo_White.svg" alt="">
      <ul>
        <li class=" footer-link"><a href="/">Home</a></li>
        <li class=" footer-link"><a href="/services">Services</a></li>
        <li class=" footer-link"><a href="/career">Career</a></li>
        <li class=" footer-link"><a href="/blog">Blog</a></li>
        <li class=" footer-link"><a href="/contact">Contact</a></li>
      </ul>
      <div class="icons">
        <a href="https://www.facebook.com/rupeexpert/?ref=pages_you_manage"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg></a>
        <a href="https://www.linkedin.com/company/rupeexpert/?viewAsMember=true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg></a>
      </div>
    </div>
    <div class="footer-map">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=oceanone hq&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.kokagames.com/fnf-friday-night-funkin-mods/">Friday Night Funkin Mods</a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 400px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }

          .gmap_iframe {
            height: 400px !important;
          }
        </style>
      </div>
    </div>
  </section>
  <style>
    .footer2 {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #000000;
      color: #fff;
      padding: 10px;
    }

    .footer2 a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <section class="footer2">
    <small>&copy; Copyright 2024, Ocean One Pvt. Ltd</small>
    <small> Developed By <a href="https://www.techtasa.com/">Techtasa</a></small>
  </section>
</body>
<script src="../js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>